@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	background-color: rgb(202 138 4);
	color: #fff;
}

* {
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	background-color: #000;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
